extends layout

block content
  h1
    | #{room.name}
  div
    each user, i in room.users
      ul
        li
          | #{user.name}
  form(method="post", action="/rooms/enqueue", id="enqueueForm")
    input(type="hidden", name="roomid", value=room._id)
    input(name='video', id="queueInput") Add a YouTube link for us to watch.
    button('type='submit' id="submitButton")
      | Submit
  div
    ul
      each video, j in room.queue
        li
          img(src=video.thumbnail)
          | #{video.title}, added by #{video.added_by.name}