extends layout

block content
  script(src="/javascripts/main.js")

  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
        br
        .container
          button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(href='/', id='logo').brand Turntube.tv
          .nav-collapse.collapse
            ul.nav
              li.active
                a(href="/") Watch
              li
                a(href="/about") About
        br
  .container
    .row-fluid
        .span6.offset3
          center
            br
            br
            br
            h1 Watch  collaboratively.
        .span2
          br
          br
          br
          //- form(method='post', action='/rooms/create', id="newRoomForm", style="vertical-align: middle")
          form(method='post', action='/rooms/search', id="searchRoomForm", style="vertical-align: middle")
            center
              input(type='text', name='query', id="query", style="width: 150px", placeholder="Search for a room")
              br
              button.btn.btn-small(type='submit', data-target="#search", href="#search") 
                strong FIND Room »
              &nbsp;&nbsp;&nbsp;
              button.btn.btn-small(href='#add', data-toggle='modal', data-target='#add')
                  strong#reds  NEW » 
          br
  each room, i in rooms
    if (room % 4 === 0)
      .row-fluid
          .span10.offset1
    .span3
      ul.thumbnails
        li
          a(href="/rooms/room/#{room._id}", class="room-list")
            .thumbnail(style='padding-bottom: 10px;')
              button.close.pull-right(type='submit', id=#{room._id}, aria-hidden='true')
                strong ×
              br
              img(src= "#{room.imgurl}", alt='', style='width: 250px; height: 250px; padding-top: 10px')
              h4 #{room.name}
  .row-fluid
    .span12
      center
        p © 2013 Turntube.tv | Made in Needham
  #add.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h3#reds Create New Room
      .modal-body
        .form-horizontal(id="createform")
          .control-group
            input(type="hidden", name="uid", value=loggedIn._id, id="uid")
            label.control-label(for='inputEmail', id="") Name Your Room:
            .controls 
              input#inputName(type='text', placeholder='Room name...', name='name', id="nameinput")
          .control-group
            .controls
              button.btn(type='submit', id="newRoomForm")
                strong CREATE Room »
